body , html {
    margin:0px;
    padding: 0px;
    background-color: blanchedalmond;
}
#heading{
 text-align: center;   
}

#editor
{
    background-color: white;
    margin:10px auto;
    width: 90%;
    max-width:1100px;
    border:2px solid black;
}
.toolbar
{
    border-bottom: 1px solid #cccccc;
    height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 10px;
}

#toolbar-1 select{
    height: 30px;
    line-height: 30px;
    margin: auto 5px;
}

#toolbar-2 a{
    line-height: 50px;
    height: 50px;
    width: 20px;
    padding: 0px 15px; 
    border-radius: 10%;
    margin: 0px 0px;
    text-decoration: none;
    color:black;
}
#toolbar-2  a i{
    font-size: 20px;
}
a:hover
{
    background-color:#dee0e2;
}
.selected
{
    background-color: #c8ccd1;
}
#editor-textbox
{
    margin: 2px auto;
    /* border:2px solid black; */
    height:100px;
    min-height:450px;
    padding: 20px 15px;
    overflow-y: auto;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }